.navbar {
  height: 80px;
  margin: 8px 0;
  border-bottom: 1px $light-fade solid;
  padding: 0;
}


.terminal {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.terminal-path {
  padding-bottom: 4px;
  color: $blue;
  font-weight: 700;
}

.terminal-command {
  color: $light;
  font-weight: 500;
}

.nav-icon {
  color: $light;
}

.nav-link {
  font-size: 36px;
}

.blinking-cursor {
  animation: blink 1s infinite;
}

.nav-link-left {
  margin-right: 16px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {

  .nav-link-left {
    margin-right: 16px;
  }

  .nav-link {
    font-size: 32px;
  }

  .terminal-command {
    display: none
  }

  .terminal {
    font-size: 16px;
  }
}
