.btn-main {
  font-family: $body-font;
  border: 2px solid $blue;
  color: $blue;
  margin-right: 16px;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
}

.btn-secondary {
  font-family: $body-font;
  color: $bg0;
  background-color: $blue;
  margin-right: 16px;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
}

.btn-main:hover {
  color: $orange;
  border: 2px solid $orange;
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background-color: $orange;
  transition: 0.3s ease;
}
