.btn {
  font-family: $body-font;
}

.btn-main {
  border: 2px solid $blue;
  color: $blue;
  margin-right: 16px;
}

.btn-alt {
  border: 2px solid $light;
  color: $light;
}

.btn-main:hover {
  border: 2px solid $blue;
  color: $blue;
}

.btn-alt:hover {
  border: 2px solid $light;
  color: $light;
}
