.card-project {
  outline: 1px solid $grey;
  border-radius: 8px;
  height: 198px;
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.card-project:hover {
  outline: 2px solid $orange;
}

.card-project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-project-image {
  border-radius: 8px 0 0 8px;
  width: 198px;
  height: 198px;
  object-fit: cover;
  margin-right: 24px;
}

.card-project-about {
  margin-right: 16px;
}
.card-project-description {
  padding-right: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



// mobile
@media screen and (max-width: 992px) {
  .card-project {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 64px;
  }

  .card-project-info {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .card-project-title {
  }

  .card-project-description {
    display: none;
    justify-content: center;
  }

  .card-project-links {
    display: none;
    // flex-direction: column;
    // height: 45%;
    // justify-content: space-between;
  }

  .card-project-image {
    width: 100%;
    border-radius: 8px;
    height: 198px;
    object-fit: cover;
    margin-right: 24px;
  }
}
