.card-project {
  height: 198px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-project-image {
  outline: 4px solid $purple;
  border-radius: 8px;
  width: 198px;
  height: 198px;
  padding: 16px 16px;
  object-fit: cover;
  margin-right: 24px;
}

