// color palette
$bg0: #252535;
$light: #DCD7BA;
$light-fade: hsl(220, 19%, 54%, 0.6);
$blue: #5299B7;
$orange: #FE9F66;
$green0: #76946A;
$green1: #98BB6C;
$purple: #957FB8;
$red: #E46876;
$grey: #7483A1;
$light-grey: #B6BECD;
$white: #d8dee9;

// foreground
.bg0 {
  color: $bg0;
}

.light-grey {
  color: $light-grey;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.orange {
  color: $orange;
}

.light {
  color: $light;
}

.light-fade {
  color: $light-fade;
}

.green {
  color: $green1;
}

.blue {
  color: $blue;
}


//background
.bg-light-grey {
  background-color: $light-grey;
}

.bg-white {
  background-color: $white;
}

.bg-red {
  background-color: $red;
}

.bg-purple {
  background-color: $purple;
}

.bg-orange {
  background-color: $orange;
}

.bg-light {
  background-color: $light;
}

.bg-light-fade {
  background-color: $light-fade;
}

.bg-green {
  background-color: $green1;
}

.bg-blue {
  background-color: $blue;
}
