@font-face {
  font-family: 'Monaspace';
  src: url('frontend/assets/fonts/Monaspace.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  src: url('frontend/assets/fonts/Iosevka.ttf') format('truetype');
}

@font-face {
  font-family: 'Supreme';
  src: url('frontend/assets/fonts/Supreme-Variable.ttf') format('truetype');
}


$body-font: 'Monaspace', monospace;
$nerd-font: 'Iosevka', monospace;
$post-font: 'Supreme', sans-serif;

.fw-500 {
  font-weight: 500;
}

.fs-48 {
  font-size: 48px;
}

.fs-18 {
  font-size: 1.15rem;
}
