---
layout: default
---
<div id="panes" class="panes row h-100" data-controller="display file-name">
  <div class="pane-left col-7 d-flex flex-column h-75">
    <p class="fs-1 fw-600"><span class="purple"><b>~</b> </span><span class="orange">ls</span></p>
    <p class="comment mb-5"><em># retorna uma lista com os conteúdos da pasta</em></p>
    <%= render '/card_project' %>
  </div>
  <div class="pane-right col-5 d-flex flex-column h-100">
    <div class="response d-none" data-display-target="response"
      data-file-name-target="url">
    </div>
  </div>
</div>
