body {
  background-color: $bg0;
  color: $grey;
  font-family: $body-font;
}

main {
  height: calc(100vh - 96px);
  padding-top: 16px;
  padding-bottom: 16px;
}

.line-break {
  border-bottom: 1px dashed $light-fade;
  margin-bottom: 32px;
  margin-top: 32px;
}

.readme {
  max-width: 65ch;
  margin: 0 auto;
  font-family: $post-font;
}

.mono {
  font-family: $body-font;
}
