body {
  background-color: $bg0;
  color: $grey;
  font-family: $body-font;
}

main {
  height: calc(100vh - 96px);
  padding-top: 16px;
  padding-bottom: 16px;
}

.line-break {
  border-bottom: 1px dashed $light-fade;
  margin: 32px 16px;
}

.readme {
  max-width: 65ch;
  margin: 0 auto;
  font-family: $post-font;
}

.mono {
  font-family: $body-font;
}

.link:hover {
  color: $blue-dark;
  transition: $blue-dark 0.3s ease;
}

@media screen and (max-width: 992px) {
  .mobile-container {
    padding: 16px 16px;
  }
}
