<nav id="navbar" class="navbar container m-auto px-3">
  <div class="terminal row">
    <span class="terminal-path"><a href="<%= relative_url '/'%>" class="text-decoration-none blue" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">~/home</a></span>
    <div class="terminal-command">
      >
      <span class="target-element" data-move-element-target="target"></span>
      <span class="blinking-cursor">▋</span>
    </div>
  </div>
  <div class="nav-link">
    <a href="https://github.com/pedro-hga" target="_blank" class="text-decoration-none" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/pedrohga" target="_blank" class="text-decoration-none" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</nav>
