<nav id="navbar" class="navbar container m-auto px-3">
  <div class="terminal row">
    <div class="terminal-path">
      <% if I18n.locale == :'pt-BR' %>
        <a href="<%= relative_url '/' %>" class="text-decoration-none blue link"
     data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          <span>~/home</span><span class="blue" data-find-directory-target="link"></span>
        </a>
      <% else %>
        <a href="/<%= I18n.locale %>/" class="text-decoration-none blue link"
     data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          <span>~/home</span><span class="blue" data-find-directory-target="link"></span>
        </a>
      <% end %>
    </div>
    <div class="terminal-command">
      <b>❯</b>
      <span class="target-element" data-move-element-target="target"></span>
      <span class="blinking-cursor">▋</span>
    </div>
  </div>
  <div class="nav-link">
    <% resource.all_locales.each do |local_resource| %>
      <% if local_resource.data.locale != I18n.locale %>
        <%= link_to local_resource.relative_url, class: "text-decoration-none nav-link-left fs-5" do %>
          <% if local_resource.data.locale == :en %>
            <span class="green2">pt-BR</span> <span class="light"><-</span> <span class="grey link">en</span>
              <% elsif local_resource.data.locale == :'pt-BR' %>
                <span class="grey link">pt-BR</span> <span class="light">-></span> <span class="green">en</span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <a href="mailto:pedro_hga@proton.me?subject=Olá!&body=Escreva%20seu%20texto%20aqui." target="_blank"
                                           style="margin-right: 16px;"
                                           class="fs-1 nav-icon text-decoration-none nav-link-left"
                                           data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          󰇮 </a>
        <a href="https://github.com/pedro-hga" target="_blank"
                                           style="margin-right: 16px;"
                                           class="fs-1 nav-icon text-decoration-none nav-link-left"
                                           data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          
        </a>
        <a href="https://www.linkedin.com/in/pedrohga" target="_blank"
                                                   class="fs-1 nav-icon text-decoration-none"
                                                   data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          󰌻
        </a>
      </div>
    </nav>
