<nav id="navbar" class="navbar">
  <div class="terminal">
    <span class="terminal-path">~/home</span>
    <span class="terminal-command">->command</span>
  </div>
  <div class="nav-link">
    <a href="https://github.com/pedro-hga" target="_blank" class="text-decoration-none">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/pedrohga" target="_blank" class="text-decoration-none">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</nav>
