---
layout: default
title: Guide me
file_name: guide_me
image: images/guide_me.svg
project_link: https://guide-me-app-c2d673a36c32.herokuapp.com/
github_link: https://github.com/pedro-hga/guide-me
description: "A platform connecting aspiring professionals with experienced mentors across various industries."
programming: [[󰫏, red],[, yellow],[, orange],[, pink],[󰊤, blue],[, purple],[, blue]]
---
<div id="panes-project" class="panes row h-100" data-controller="display file-name">
  <div class="pane-left col-7 d-flex flex-column h-75">
    <%= render 'project_page' %>
  </div>
  <div class="pane-right col-5 d-flex row h-100">
    <h1 class="project-info-title d-block orange mt-5 mb-4">Technical sheet</h1>
    <div class="programming-icons">
      <% page.data.programming.each do |info| %>
        <p class="icon fs-48 mr-3 <%=info[1] %>">
          <%= info[0] %>
        </p>
      <% end %>
    </div>
  </div>
</div>
</div>
