---
layout: default
---
<div id="panes" class="panes row h-100">
  <div class="pane-left col-7 d-flex flex-column h-100">
    <span class="pane-command ">
      <h1><span class="red"><b>❯</b> </span><span class="purple">whoami</span></h1>
      <h5 class="light-fade"><em># retorna o usuário</em></h4>
    </span>
    <div class="pane-return">
      <p class="fs-2">
        Oi! Sou <span class="orange">Pedro, desenvolvedor web full-stack</span> localizado em <span class="purple">São Paulo</span>.
        Eu gosto de <span class="red">colaborar</span> com pessoas para criar <a href="<%= relative_url '/projects' %>" class="text-decoration-none red" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          projetos incríveis</a>.
      </p>
    </div>
  </div>
  <div class="pane-right col-5 d-flex flex-column h-100">
    <div class="pane-command">
      <h1><span class="red"><b>❯</b> </span><span class="purple">ls</span></h1>
      <h5 class="light-fade "><em># retorna uma lista com os conteúdos da pasta</em></h3>
    </div>
    <div class="pane-return green">
      <ul class="list-unstyled">
        <li class="fs-2"><a href="<%= relative_url '/projects' %>" class="blue link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            projetos/
          </a></li>
        <li class="fs-2"><a href="<%= relative_url '/contact_me' %>" class="blue link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            contato.js
          </a></li>
        <li class="fs-2"><a href="<%= relative_url '/about' %>" class="blue link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            sobre-mim.md
          </a></li>
      </ul>
    </div>
  </div>
</div>
