.pane-right {
  border-left: 1px $light-fade solid;
}

.pane-return {
  margin: auto 0;
}

.pane-right {
  padding-left: 32px;
}

@media screen and (max-width: 992px) {
  .panes {
    display: grid;
  }

  .pane-left,
  .pane-right {
    width: 100%;
  }

  .pane-left {
    margin-bottom: 40px;
  }

  .pane-right {
    border-left: none;
  }

  .response {
    display: none;
  }
}
