<footer>
  <span class="powerline-text bg-blue bg0 fs-24" >NORMAL</span><span class="bg-light-grey blue fs-24"></span><span class="powerline-text bg-light-grey bg0 fs-24" > home</span><span class="light-grey fs-24"></span>
</footer>
